<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="feedback-list">
    <a href="/" class="back-button">На главную</a>
    <h1>Отзывы</h1>

    <form th:method="GET" th:action="@{/feedbacks/}" th:object="${form}">
        <div th:if="${model.feedbackViewModels().isEmpty()}">
            <p>Отзывы не найдены.</p>
        </div>

        <div class="feedback-cards" th:each="feedback : ${model.feedbackViewModels()}">
            <h3 th:text="${feedback.rating()} + ' ' + ${review.duration}"></h3>
            <p th:text="${review.comment}"></p>
            <div class="rating" th:text="${#strings.repeat('★', review.rating)}"></div>
        </div>

        <div class="pagination">
        <span th:if="${model.pages() > 1}">
            <a th:href="@{'/feedbacks?page=' + ${model.pages() - 1} + '&size=' + ${form.size()}}">Предыдущая</a>
        </span>
            <span>Страница <span th:text="${model.pages()}"></span></span>
            <span th:if="${model.viewModelList().size() > 0}">
            <a th:href="@{'/feedbacks?page=' + ${model.pages() + 1} + '&size=' + ${form.size()}}">Следующая</a>
        </span>
        </div>
    </form>
</div>
</body>
</html>