<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="d-flex flex-column h-100">
<div class="centering">
    <h1>Главная</h1>
    <div class="row-first">
        <a href="/stores" class="store-button">Магазины</a>
        <a href="/customers" class="customer-button">Покупатели</a>
        <a href="/employees" class="employee-button">Сотрудники</a>
    </div>
    <div class="row-second">
        <a href="/products" class="product-button">Товары</a>
        <a href="/orders" class="order-button">Заказ</a>
    </div>
    <div class="row-third">
        <a href="" class="fir-custom-button">Кастом1</a>
        <a href="" class="sec-custom-button">Кастом2</a>
    </div>
</div>
</body>
</html>