<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>Grocery Web App</header>
<div class="centering">
    <h1>Главная</h1>
    <div class="menu">
        <button type="button" onclick="location.href='/stores/'">Магазины</button>
        <button type="button" onclick="location.href='/products/'">Товары</button>
        <button type="button" onclick="location.href='/customers/'">Покупатели</button>
        <button type="button" onclick="location.href='/employees/'">Сотрудники</button>
    </div>
    <div class="section">
        <button type="button" onclick="location.href='/highrates'">Высокооцененные товары</button>
        <button type="button" onclick="location.href='/frequents'">Популярные товары</button>
    </div>
    <div class="custom-buttons">
        <button type="button" onclick="location.href='/custom1/'">Кастом 1</button>
        <button type="button" onclick="location.href='/custom2/'">Кастом 2</button>
    </div>
</div>
</body>
</html>