<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background: #e0e0e0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background-color: #fff;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        .login-btn {
            background-color: dodgerblue;
            color: #fff;
            border-color: dodgerblue;
        }
    </style>
</head>
<body>
<div class="login-container">
    <h3 class="text-center mb-4">Регистрация</h3>

    <form th:action="@{/users/register}" th:method="post" th:object="${userDto}">
        <div class="mb-4">
            <label for="username" class="form-label fw-bold">Имя пользователя</label>
            <input type="text" id="username" name="username" th:field="*{username}" th:errorclass="is-invalid"
                   class="form-control"
                   placeholder="Введите имя пользователя" required>
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Error
                message</small>
        </div>

        <div class="mb-4">
            <label for="firstName" class="form-label fw-bold">Имя</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" th:errorclass="is-invalid"
                   class="form-control"
                   placeholder="Введите имя" required>
            <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error
                message</small>
        </div>

        <div class="mb-4">
            <label for="lastName" class="form-label fw-bold">Фамилия</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" th:errorclass="is-invalid"
                   class="form-control"
                   placeholder="Введите фамилию" required>
            <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error
                message</small>
        </div>

        <div class="mb-4">
            <label for="phone" class="form-label fw-bold">Номер телефона</label>
            <input type="text" id="phone" name="phone" th:field="*{phone}" th:errorclass="is-invalid"
                   class="form-control"
                   placeholder="Введите номер телефона" required>
            <small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger">Error
                message</small>
        </div>

        <div class="mb-4">
            <label for="password" class="form-label fw-bold">Пароль</label>
            <input type="password" id="password" name="password" th:field="*{password}" th:errorclass="is-invalid"
                   class="form-control"
                   placeholder="Введите пароль"
                   required>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error
                message</small>
        </div>

        <div class="mb-4">
            <label for="passwordConfirm" class="form-label fw-bold">Подтверждение пароля</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" th:field="*{passwordConfirm}"
                   th:errorclass="is-invalid"
                   class="form-control" placeholder="Повторно введите пароль" required>
            <small th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger">Error
                message</small>
        </div>

        <div class="d-grid mb-4">
            <button type="submit" class="btn login-btn">Зарегистрироваться</button>
        </div>

        <div class="d-grid" style="text-align: center">
            <p>Есть аккаунт? <a th:href="@{/users/login}">Войти</a></p>
        </div>
    </form>
</div>
</body>
</html>
