<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="customer-list">
    <a href="/" class="back-button">На главную</a>
    <h1>Пользователи</h1>

    <form th:method="GET" th:action="@{/customers/}" th:object="${form}">
    <div th:if="${model.viewModelList().isEmpty()}">
    <p>Пользователи не найдены.</p>
    </div>

    <div class="customer-cards">
        <div th:each="customer : ${model.viewModelList()}" class="customer-card">
            <p><span th:text="${customer.firstName()} + ' ' + ${customer.lastName()}"></span></p>
            <p><strong>Номер телефона:</strong> <span th:text="${customer.phone()}"></span></p>
            <p><strong>Сумма заказов:</strong> <span th:text="${customer.ordersAmount()}"></span></p>
            <p><strong>Сумма скидки:</strong> <span th:text="${customer.discount()}"></span></p>
            <button th:onclick="'/orders/' + ${customer.id()}">Заказы</button>
            <button th:onclick="'/feedbacks/' + ${customer.id()}">Отзывы</button>
        </div>
    </div>

    <div class="pagination">
        <span th:if="${model.pages() > 1}">
            <a th:href="@{'/customers?page=' + ${model.pages() - 1} + '&size=' + ${form.size()}}">Предыдущая</a>
        </span>
        <span>Страница <span th:text="${model.pages()}"></span></span>
        <span th:if="${model.viewModelList().size() > 0}">
            <a th:href="@{'/customers?page=' + ${model.pages() + 1} + '&size=' + ${form.size()}}">Следующая</a>
        </span>
    </div>
    </form>
</div>
</body>
</html>